# Python
__pycache__/
*.pyc
.ipynb_checkpoints/
*.egg-info/

# Environments
.venv/
venv/
env/

# OS
.DS_Store
Thumbs.db

# Large / generated data files
*.csv
*.xlsx
*.pkl.gz
mnist.pkl.gz
titanic_cleaned_week1.csv
online_retail_synth.csv

# Jupyter
.ipynb_checkpoints
